*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

html{
    scroll-behavior: smooth;
}

.btn{
    background-color: tomato !important;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    border: none;
    box-shadow: 1px 1px 2px #303030;
}

.faixas{
    background-color: #303030;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    color: #fafd36;
}
.faixa{
    width: 90%;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    color: white;
    padding: 1rem;
    margin: 0 auto;
    width: 90vw;
    max-width: 900px;
    margin-bottom: 5rem;
    font-size: .9rem;
}

main{
    flex: 1;
}

aside{
    flex: 2;
    
}
@media only screen and (max-width: 538px){
    main{
        width: 100%;
    }
    
    aside{
        width: 100%;        
    }
}

.flex{
    display: flex;
    flex-wrap: wrap;
    background-color: #303030;
    padding: 1rem;
    gap: .8rem;

    list-style: none;
    border-radius: 5px;
}
.flex-main{
    text-align: center;
}
.flex > *{
    flex: 1;
}
.flex a{
    text-decoration: none;
    color: white;
}

.box{
    background-color: dodgerblue;
    padding: .5rem;
    border-radius: 5px;
    list-style: none;
    box-shadow: 1px 1px 1px white;
    max-width: 100%;
}
input{
    overflow: hidden;
    max-width: 100%;
    outline: 0;
}

input:invalid{
    border: 2px solid tomato;
}

select{
    width: 100%;
}

/* .file-input{
    color: transparent;
} */


/* FAIXA BD */
.bd{
    display: flex;
    flex-direction: column;
}
.bd h1,
.bd h2,
.bd h3{
    color: #303030;
}

.main-form{
    background-color: #303030;
    border-radius: 5px;
    padding: 1.5em;
}
.main-form .btn__main-form{
    font-size: 1rem;
    padding: .5em 1em;
    width: 50%;
    background-color: tomato;
    border: none;
    color: white;
    border-radius: 50px;
}
@media only screen and (max-width: 375px) {
    .main-form .btn__main-form{
        width: 100%;
    }
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border: 2px solid tomato;
    border-radius: 5px;
    
}
fieldset legend{
    color: #fafd36;
    padding: 0 .5em;
    text-align: center;
    font-size: 1.1rem;
}

.nome-email{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}
.nome-email input{
    width: 100%;
    color: #303030;
    border-radius: 5px;
    border: none;
    padding: .5em;
}

.text-area textarea{
    width: 100%;
    outline: 0;
}

#totop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    padding: .7em 1em;
    border: none;
    border-radius: 49% 51% 50% 50% / 82% 82% 18% 18%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.7);
    background: #fafd36;
    color: #303030;
    cursor: pointer;
    font-weight: bold;
    transition: translate .2s;
}
#totop:hover{
    /* transform: rotate(-20deg); */
    translate: 0 -3px;    
}





/* .slider{
    appearance: none;
    width: 100%;
    height: 30px;
    background: rgb(100, 211, 78);
    outline: none;
    cursor: pointer;
}
.slider::-webkit-slider-thumb{
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: dodgerblue;
    background: url('../gallery/icons8-wordpress.svg');
    border: 1px solid rgb(100, 211, 78);
    
} */